
        <footer class="footer">
            <div>
                @include('livewire.admin.newsletter-component')
            </div>
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget widget-about">
                                <img src="{{ asset('assets/images/logo.png') }}" class="footer-logo" alt="Footer Logo" width="150" height="50">
                                <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="/about">About HileTask</a></li>
                                    <li><a href="/services">Our Services</a></li>
                                    <li><a href="/faq">FAQ</a></li>
                                    <li><a href="{{route('home.contact')}}">Contact us</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Payment Methods</a></li>
                                    <li><a href="{{ route('terms') }}">Terms and conditions</a></li>
                                    <li><a href="{{route('policy')}}">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Contact info</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="tel:+250 791 957 955"><i class="icon-phone"></i>Call: +250 791 957 955</a></li>
                                    <li><a href="mail-to:#"><i class="icon-envelope"></i>support@hiletask.com</a></li>
                                </ul><!-- End .widget-list -->
                                <div class="social-icons">
                                    <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                                </div><!-- End .social-icons -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © <?php echo date("Y"); ?> HileTask. All Rights Reserved.</p><!-- End .footer-copyright -->
                    <figure class="footer-payments">
                        <img src="{{ asset('assets/images/payments.png') }}" alt="Payment methods" width="272" height="20">
                    </figure><!-- End .footer-payments -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <!-- <div class="elfsight-app-c5e59fd8-4714-43ac-b56e-29761cd65ba0"></div> -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    <!-- <script src="https://apps.elfsight.com/p/platform.js" defer></script> -->


    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container mobile-menu-light">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form id="sform" action="{{route('searchService')}}" method="post" class="mobile-search">
                @csrf
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control typeahead" name="q" id="q" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab" aria-controls="mobile-cats-tab" aria-selected="false">Service Providers</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel" aria-labelledby="mobile-menu-link">
                    <nav class="mobile-nav">
                        <ul class="mobile-menu">
                            <li class="active">
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="{{route('home.service_categories')}}">Service Categories</a>
                            </li>
                            <li>
                                <a href="{{route('home.services')}}" class="sf">Services</a>
                            </li>
                            <li>
                                <a href="{{route('home.blogs')}}">Blog</a>
                            </li>
                            <li>
                                <a href="{{route('home.contact')}}">Contact us</a>
                            </li>
                        </ul>
                    </nav><!-- End .mobile-nav -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                    <nav class="mobile-cats-nav">
                        <ul class="mobile-cats-menu">
                            <li><a class="mobile-cats-lead" href="{{route('home.service_provider')}}">All Service Providers</a></li>
                            @foreach(\App\Models\ServiceProvider::all() as $sprovider)
                            @if(!empty($sprovider->sprovider_name))
                            <li><a href="{{route('home.service_provider_by_category',['service_category_name'=>$sprovider->category->slug])}}">@if($sprovider->service_category_id)
                                    {{$sprovider->category->name}}
                                    @endif </a></li>
                            @endif
                            @endforeach
                        </ul><!-- End .mobile-cats-menu -->
                    </nav><!-- End .mobile-cats-nav -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->


    <!-- <div class="container newsletter-popup-container mfp-hide" id="newsletter-popup-form">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row no-gutters bg-white newsletter-popup-content">
                    <div class="col-xl-3-5col col-lg-7 banner-content-wrap">
                        <div class="banner-content text-center">
                            <img src="{{ asset('assets/images/logo.png') }}" class="logo" alt="logo" width="100" height="50">
                            <h2 class="banner-title">get <span>25<light>%</light></span> off</h2>
                            <p>Subscribe to the HileTasker eCommerce newsletter to receive timely updates from your favorite products.</p>
                            <form action="#">
                                <div class="input-group input-group-round">
                                    <input type="email" class="form-control form-control-white" placeholder="Your Email Address" aria-label="Email Adress" required>
                                    <div class="input-group-append">
                                        <button class="btn" type="submit"><span>go</span></button>
                                    </div>
                                </div>
                            </form>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="register-policy-2" required>
                                <label class="custom-control-label" for="register-policy-2">Do not show this popup again</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2-5col col-lg-5 ">
                        <img src="{{ asset('assets/images/popup/newsletter/img-1.jpg') }}" class="newsletter-img" alt="newsletter">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Plugins JS File -->
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.hoverIntent.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.waypoints.min.js') }}"></script>
    <script src="{{ asset('assets/js/superfish.min.js') }}"></script>
    <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap-input-spinner.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.plugin.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.countdown.min.js') }}"></script>
    <script src="{{ asset('assets/js/share.js') }}"></script>
    <!-- Main JS File -->
    <script src="{{ asset('assets/js/main.js') }}"></script>
    <script src="{{ asset('assets/js/demos/demo-4.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>
    <script type="text/javascript">
        var path = "{{route('autocomplete')}}";
        $('.typeahead').typeahead({
            source: function(query, process) {
                return $.get(path, {
                    query: query
                }, function(data) {
                    return process(data);
                });
            }
        });
    </script>
    <script src="https://getchat.app/assets/js/min/getchatapp.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var gcaMain = new GetChatApp({
                'mobileNumber': '+250782390919',
                'titleMessage': '👋 Chat with me on WhatsApp!',
                'welcomeMessage': 'Hey there!🙌<br /> <br /> Get in touch with me by typing a message here. It will go straight to my phone! 🔥<br /> <br /> ~Your Name',
                'position': 'right',
                'platforms': {
                    'whatsapp': true,
                    'facebook': false,
                    'email': false,
                    'instagram': false,
                    'telegram': false,
                },
                'facebookPageId': '',
                'gcaEmailAddress': '',
                'gcaEmailSubject': '',
                'gcaInstagramUsername': '',
                'gcaTelegramUsername': '',
            });
        });
    </script>

    <script type="text/javascript">
        window.onload = setShareLinks;

        function setShareLinks() {
            var pageUrl = encodeURIComponent(document.URL);
            var pageTitle = encodeURIComponent(document.title);

            document.addEventListener('click', function(event) {
                let url = null;

                if (event.target.classList.contains('share__link--facebook')) {
                    url = "https://www.facebook.com/sharer.php?u=" + pageUrl;
                    socialWindow(url, 570, 570);
                }

                if (event.target.classList.contains('share__link--twitter')) {
                    url = "https://twitter.com/intent/tweet?url=" + pageUrl + "&text=" + pageTitle;
                    socialWindow(url, 570, 300);
                }

                if (event.target.classList.contains('share__link--linkedin')) {
                    url = "https://www.linkedin.com/shareArticle?mini=true&url=" + pageUrl;
                    socialWindow(url, 570, 570);
                }

                if (event.target.classList.contains('share__link--whatsapp')) {
                    url = "whatsapp://send?text=" + pageTitle + "%20" + pageUrl;
                    socialWindow(url, 570, 450);
                }

                if (event.target.classList.contains('share__link--mail')) {
                    url = "mailto:?subject=%22" + pageTitle + "%22&body=Read%20the%20article%20%22" + pageTitle + "%22%20on%20" + pageUrl;
                    socialWindow(url, 570, 450);
                }

            }, false);
        }

        function socialWindow(url, width, height) {
            var left = (screen.width - width) / 2;
            var top = (screen.height - height) / 2;
            var params = "menubar=no,toolbar=no,status=no,width=" + width + ",height=" + height + ",top=" + top + ",left=" + left;
            window.open(url, "", params);
        }
    </script>


    @livewireScripts
</body>

</html>